[tool.poetry]
name = "earhorn"
version = "0.11.0-alpha.3"
description = "Listen, monitor and archive your streams!"
authors = ["Joola <jooola@users.noreply.github.com>"]
readme = "README.md"
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Console",
  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
click = "^8.0.1"
httpx = ">=0.21.1,<0.23.0"
loguru = ">=0.5.3,<0.7.0"
lxml = ">=4.6.3,<4.10.0"
more-itertools = "^8.10.0"
prometheus-client = ">=0.14.1,<0.15.0"
pydantic = "^1.9.0"
typing-extensions = "^4.2.0"
python-dotenv = "^0.20.0"
boto3 = {version = "^1.24.8", optional = true}

[tool.poetry.extras]
s3 = ["boto3"]

[tool.poetry.dev-dependencies]
bandit = "^1.7.4"
black = "^22.3"
flake8 = "^4.0.1"
isort = "^5.9.3"
lxml-stubs = "^0.4.0"
mypy = "^0.961"
pylint = "^2.13.9"
pytest = "^7.1.1"
pytest-benchmark = "^3.4.1"
pytest-cov = "^3.0.0"
pytest-httpx = "^0.20.0"
pytest-xdist = "^2.5.0"
types-boto3 = "^1.0.2"
moto = "^3.1.13"

[tool.poetry.scripts]
earhorn = 'earhorn.main:cli'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pylint.messages_control]
extension-pkg-whitelist = [
  "lxml.etree",
  "pydantic",
]
disable = [
  "missing-module-docstring",
  "missing-function-docstring",
  "missing-class-docstring"
]
