[tool.poetry]
name = "earhorn"
version = "0.5.2"
description = "Listen, monitor and archive your streams!"
authors = ["Joola <jooola@users.noreply.github.com>"]
readme = "README.md"
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Console",
  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
click = "^8.0.1"
loguru = ">=0.5.3,<0.7.0"
more-itertools = "^8.10.0"
httpx = ">=0.21.1,<0.23.0"
pydantic = "^1.9.0"

[tool.poetry.dev-dependencies]
black = "^22.1"
isort = "^5.9.3"
mypy = "^0.931"
pylint = "^2.12.2"
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
pytest-xdist = "^2.5.0"

[tool.poetry.scripts]
earhorn = 'earhorn.cli:main'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pylint.messages_control]
extension-pkg-whitelist = "pydantic"
disable = [
  "missing-module-docstring",
  "missing-function-docstring",
  "missing-class-docstring"
]
